

/* Екрани телефонів */
@media (max-width: 480px) {
  .category-grid {
    flex-direction: column; /* Вертикально розташувати блоки */
  }

  .category-card {
    padding: 10px; /* Зменшити відступи */
  }

  .category-card img {
    max-width: 150px; /* Зменшити розмір зображення */
  }

  .category-card h4 {
    font-size: 16px; /* Зменшити заголовок */
  }
}

/* Ширші мобільні екрани */
@media (min-width: 481px) and (max-width: 767px) {
  .category-card img {
    max-width: 180px;
  }

  .category-card h4 {
    font-size: 17px;
  }
}

/* Планшети */
@media (min-width: 768px) and (max-width: 1024px) {
  .category-grid {
    gap: 15px;
  }

  .category-card img {
    max-width: 200px;
  }

  .category-card h4 {
    font-size: 18px;
  }
}

/* Ноутбуки */
@media (min-width: 1025px) and (max-width: 1280px) {
  .category-grid {
    gap: 20px;
  }

  .category-card img {
    max-width: 200px;
  }

  .category-card h4 {
    font-size: 18px;
  }
}


.categories {
    text-align: center;
 /* Вкажи шлях до зображення */
    background-size: cover; /* Зображення покриє всю площу */
    background-position: center; /* Зображення буде центроване */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    background-color: #f9f9f9; /* Резервний колір фону, якщо зображення не завантажиться */
  }
  
  .category-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Відстань між блоками */
    padding: 20px;
  }
  
  .category-card {
    background-color: #fbf6f3; /* Колір фону блоку */
    padding: 20px;
    border-radius: 10px; /* Згладжені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Встанови ширину для кожного блоку */

    background-image: url('../../assets/images/font-card.jpg'); /* Вкажи шлях до зображення */
    background-size: cover; /* Зображення покриє всю площу */
    background-position: center; /* Зображення буде центроване */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    background-color: #f9f9f9; /* Резервний колір фону, якщо зображення не завантажиться */
  }
  
  .category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Збільшена тінь при наведенні */
  }
  
  .category-card img {
    max-width: 200px; /* Адаптивний розмір зображення */
  }
  
  .category-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Playfair Display', serif; /* Можна замінити на інший схожий шрифт */
    font-weight: 700; /* Робимо шрифт тоншим */
    letter-spacing: 3px; /* Збільшуємо відстань між літерами */
    text-transform: uppercase; /* Робимо текст великими літерами */
    font-size: 15px; /* Налаштуй розмір шрифту за потреби */
  }
  
  .category-card a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
  }
  
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px; /* Висота навігаційного блоку */
  }
  
  .logo img {
    height: 100%; /* Логотип займатиме всю висоту блоку header-navigation */
  }
  
  .header-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 30px;
  }

  p {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
  }