
/* Екрани телефонів */
@media (max-width: 480px) {
  .slogan {
    font-size: 24px; /* Зменшити розмір шрифту */
    padding-left: 10%; /* Зменшити відступ */
  }

  .banner h2 {
    font-size: 16px; /* Зменшити заголовок */
  }

  .banner::before {
    width: 50%; /* Зменшити зображення фону */
  }
}

/* Ширші мобільні екрани */
@media (min-width: 481px) and (max-width: 767px) {
  .slogan {
    font-size: 28px;
  }

  .banner h2 {
    font-size: 18px;
  }

  .banner::before {
    width: 40%;
  }
}

/* Планшети */
@media (min-width: 768px) and (max-width: 1024px) {
  .slogan {
    font-size: 36px;
  }

  .banner h2 {
    font-size: 20px;
  }

  .banner::before {
    width: 35%;
  }
}

/* Ноутбуки */
@media (min-width: 1025px) and (max-width: 1280px) {
  .slogan {
    font-size: 42px;
  }

  .banner h2 {
    font-size: 22px;
  }

  .banner::before {
    width: 30%;
  }
}


.banner {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .slogan {
    position: relative; /* Додано для позиціювання відносно контейнера */
    z-index: 1; /* Щоб текст був поверх фону */
    text-align: left;
    padding-left: 20%;
    font-size: 48px;
    color: #4a4a4a;
    margin-top: 0px;
    font-family: 'Playfair Display', serif; /* Шрифт з Google Fonts */
    font-weight: 400; /* Робимо шрифт більш легким */
    line-height: 1.2;
  }

  
  
  .banner h2 {
    font-family: 'Playfair Display', serif; /* Можна замінити на інший схожий шрифт */
    font-weight: 300; /* Робимо шрифт тоншим */
    letter-spacing: 3px; /* Збільшуємо відстань між літерами */
    text-transform: uppercase; /* Робимо текст великими літерами */
    font-size: 24px; /* Налаштуй розмір шрифту за потреби */
    color: #4a4a4a; /* Вибираємо колір тексту */
  }
  
  .banner::before {
    content: '';
    position: absolute;
    top: -100px;
    right: 23%;
    bottom: 0;
    width: 30%; /* Ширина фону, можна налаштувати */
    background: url('../../assets/images/Background-pup.png') no-repeat right top;
    background-size: contain;
    z-index: 0; /* Щоб зображення було під текстом */
    opacity: 0.8; /* Можна налаштувати прозорість */
  }
  